[Unit]
Description=Caddy http server

[Container]
Image=docker.io/library/caddy:2-alpine
Pod=caddy.pod
Volume=%h/pods/caddy/caddyfile:/etc/caddy
Volume=%h/pods/caddy/data:/data
Volume=%h/pods/caddy/config:/config
Volume=%h/pods/autumnsky_systems:/var/www/html/autumnsky_systems:U
Volume=%h/pods/wordpress/html:/var/www/html/wordpress:U

[Service]
Restart=always

[Install]
WantedBy=default.target
