[Unit]
Description=Forgejo app
Requires=forgejo-db.service
After=forgejo-db.service

[Container]
Image=codeberg.org/forgejo/forgejo:15-rootless
ContainerName=forgejo-app
Pod=forgejo.pod
Volume=%h/pods/forgejo/gitea:/var/lib/gitea:U

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
