[Unit]
Description=Friendica Server
After=friendicadb.service

[Container]
ContainerName=friendica-app
Environment=MYSQL_HOST=friendica-db:3306 MYSQL_USER=friendica MYSQL_DATABASE=friendica FRIENDICA_ADMIN_MAIL=autumnsky64@gmail.com
Environment=FRIENDICA_URL=https://fedi.autumnsky.jp
Pod=friendica.pod
Image=docker.io/library/friendica:stable
Volume=/%h/pods/friendica/html:/var/www/html
Secret=friendica-db-pass,type=env,target=MYSQL_PASSWORD

[Service]
Restart=always
