[Unit]
Description=Friendica Server
After=friendicadb.service

[Container]
Environment=MYSQL_HOST=friedicadb:3306 MYSQL_USER=friendica MYSQL_DATABASE=friendica FRIENDICA_ADMIN_MAIL=root@friendica.local
Environment=FRIENDICA_URL=fedi.autumnsky.jp
Image=docker.io/library/friendica:fpm
Volume=/%h/pods/friendica/app:/var/www/html
Secret=friendica-db-pass,type=env,target=MYSQL_PASSWORD

[Service]
Restart=always
