[Unit]
Description=Redis for Friendica app
After=friendicadb.service

[Container]
ContainerName=friendica-redis
Pod=friendica.pod
Image=docker.io/library/redis:8.10-alpine

[Service]
Restart=always
