[Unit]
Description=Friendica internal Caddy
Requires=friendica-fpm.container
After=friendica-fpm.container

[Container]
Pod=friendica.pod
ContainerName=friendica-caddy
Image=docker.io/library/caddy:2-alpine
Volume=%h/.config/containers/systemd/friendica/caddy:/etc/caddy
Volume=%h/pods/friendica/html:/var/www/html
